  <section class="main-content">

<a href="#/">Back</a>

<div class="row">
  <div class="large-6 columns">
    <img src="img/kelvin.jpg" alt="Kelvin Lu">
  </div> 
  <div class="large-6 columns">
    <h1>Hi, I'm Kelvin.</h1>
    <p>Aspiring software engineer based in Silicon Valley. Recent graduate of Coding Dojo. Looking for opportunities to use newly learned skills to create awesome web applications. Likes coming up with elegant solutions and writing great code.</p>
    <ul>
      <li><a href="mailto:kelvin.lu.sj@gmail.com">Email</a></li>
      <li><a href="https://www.linkedin.com/in/kelvinlusj">LinkedIn</a></li>
      <li><a href="https://github.com/m272cels">GitHub</a></li>
    </ul>
  </div>

</div>

  </section>

