    <header class="page-header">

<h1 class="project-name" id="home" data-magellan-target="home">Kelvin Lu</h1>
<h2 class="project-tagline">Full Stack Web Developer</h2>

    </header>

    <section class="main-content">

<h3 id="projects" data-magellan-target="projects">Projects</h3>
<ul>
  <li>DevFinders</li>
  <a href="#/project"><img src="img/devFindersHome.png" alt="DevFinders"></a>
  <li>Jimmy Co.</li>
  <li>Super Bowser</li>
  <img src="img/superBowserHome.png" alt="Super Bowser">
  <li>Lettuce Eat</li>
  <img src="img/lettuceEatHome.png" alt="Lettuce Eat">
</ul>

<h3 id="about" data-magellan-target="about">About Me</h3>
<img src="img/kelvin.jpg" alt="Kelvin Lu">
<p>Aspiring software engineer based in Silicon Valley. Recent graduate of Coding Dojo. Looking for opportunities to use newly learned skills to create awesome web applications. Likes coming up with elegant solutions and writing great code.</p>
<ul>
  <li><a href="mailto:kelvin.lu.sj@gmail.com">Email</a></li>
  <li><a href="https://www.linkedin.com/in/kelvinlusj">LinkedIn</a></li>
  <li><a href="https://github.com/m272cels">GitHub</a></li>
</ul>

    </section>