    <section class="main-content">

<h3 id="projects" data-magellan-target="projects">Projects</h3>
<ul>
  <li>DevFinders</li>
  <a href="#/projects/devFinders"><img src="img/devFindersHome.png" alt="DevFinders"></a>
  <li>Jimmy Co.</li>
  <a href="#/projects/jimmyCo"><img src="img/lettuceEatHome.png" alt="Lettuce Eat"></a>
  <li>Super Bowser</li>
  <a href="#/projects/superBowser"><img src="img/superBowserHome.png" alt="Super Bowser"></a>
  <li>Lettuce Eat</li>
  <a href="#/projects/lettuceEat"><img src="img/lettuceEatHome.png" alt="Lettuce Eat"></a>
</ul>

    </section>