  <section class="main-content">
    
<h3>DevFinders</h3>
<img src="img/devFindersHome.png">
<p>Social networking website for connecting developers and potential clients. Three person group project. Clients can post projects and invite developers to work with them, while developers can request to work on projects they are interested in.</p>
<p>Responsible for ERD, development of client-developer interactions, deployment on Heroku.</p>
<p><strong>Tools:</strong> Ruby, Rails, jQuery, Bootstrap, PostgreSQL, ActiveRecord, Heroku</p>
<p>
  Want to see more? Check out the code on 
  <a href="">GitHub</a>
  <span ng-hide="WIP"> or try out the app for yourself 
    <a href="">here</a>
  </span>.
</p>


  </section>

